body {
  overflow-x: hidden;
}
.particle-js {
  background-image: url('./images/filler.png');
  height: 100%;
}

.name {
  text-align: center;
  margin-bottom: auto;
  position: absolute;
  top: 16em;
  left: 25em;
}

.name h1 {
  color: #fff;
  font-size: 70px;
  font-weight: 600;
  margin: 0;
  overflow: hidden;
  padding-bottom: 15px;
}

.p-all {
  margin-right: 20px;
}

.name h3 {
  display: inline-block;
  background: #1794bb;
  color: #fff;
  font-size: 20px;
  text-transform: capitalize;
  padding: 15px 40px;
  border-radius: 3px;
}

nav {
  background: #1b242f;
  border-bottom: 3px solid #04c2c9;
  height: 50px;
  text-align: left;
  width: 100%;
}

.navbar {
  justify-content: center;
}

.nav-items {
  display: flex;
  margin-bottom: 0;
}

.contents {
  cursor: pointer;
  color: white;
  font-size: 15pt;
  padding: 12px 20px;
  transition: color 0.5s;
}

.about-head {
  margin-top: 3em;
  text-align: center;
  font-family: sans-serif, raleway-bold;
  font-size: 40px;
  font-weight: 400;
  line-height: 24px;
  color: #444649;
}

.length {
  width: 2.5em;
  border: 2px solid #444649;
}

.icon-items i {
  font-size: 5em;
  color: #11c2c9;
}

.icons {
  display: flex;
  margin-top: 7em;
  flex-direction: row;
}

.icon-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  margin-top: 1em;
  font-size: 24px;
  font-weight: bold;
  color: #626262;
  text-align: center;
}

.p-about {
  width: 75%;
  font-family: sans-serif, Raleway;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #616161;
}

.about-contents {
  padding-left: 180px;
  width: 50%;
}

.img {
  border-radius: 50%;
  height: 350px;
  width: 270px;
}

.about-me {
  text-align: center;
}

.p-img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.percentile {
  margin-top: 7em;
  width: 40%;
}

.container {
  width: 100%;
  background-color: #ddd;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 3em;
}

.skills {
  text-align: right;
  padding-top: 10px;
  color: white;
}

.html {
  width: 90%;
  background-color: #11c2c9;
}

.css {
  width: 90%;
  background-color: #11c2c9;
}

.ruby {
  width: 65%;
  background-color: #11c2c9;
}

.react {
  width: 80%;
  background-color: #11c2c9;
}

.rails {
  width: 75%;
  background-color: #11c2c9;
}

.one {
  background: url(images/c.png) no-repeat;
  background-size: cover;
  height: 250px;
  width: 400px;
  opacity: 0.8;
  border-radius: 20px;
}

.one-one {
  background: url(images/d.png) no-repeat;
  background-size: cover;
  height: 250px;
  width: 400px;
  opacity: 0.8;
  border-radius: 20px;
}

.two-two {
  background: url(images/e.png) no-repeat;
  background-size: cover;
  height: 250px;
  width: 400px;
  opacity: 0.8;
  border-radius: 20px;
}

.three-three {
  background: url(images/f.png) no-repeat;
  background-size: cover;
  height: 250px;
  width: 400px;
  opacity: 0.8;
  border-radius: 20px;
}

.two {
  background: url(images/b.png) no-repeat;
  background-size: cover;
  height: 250px;
  width: 400px;
  opacity: 0.8;
  border-radius: 20px;
}

.three {
  background: url(images/a.png) no-repeat;
  background-size: cover;
  height: 250px;
  width: 400px;
  opacity: 0.8;
  border-radius: 20px;
}

.p-heading {
  font-size: 60px;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: #1a6b91;
  opacity: 0;
  border-radius: 20px;
  position: relative;
}

.overlay-two-two {
  width: 100%;
  height: 100%;
  background-color: #1a6b91;
  opacity: 0;
  border-radius: 20px;
  position: relative;
}

.overlay-three-three {
  width: 100%;
  height: 100%;
  background-color: #1a6b91;
  opacity: 0;
  border-radius: 20px;
  position: relative;
}

.one-one h2 {
  margin-left: 100px;
}

.two-two h2 {
  margin-left: 80px;
}

.three-three h2 {
  margin-left: 70px;
}

.footer-icons a {
  font-size: 30px;
  color: white;
}

.one .overlay a {
  color: white;
}

.two .overlay a,
.three .overlay a,
.one-one .overlay a,
.two-two .overlay-two-two a,
.three-three .overlay-three-three a {
  color: white;
}

.overlay a:hover,
.overlay-two-two a:hover,
.overlay-three-three a:hover {
  text-decoration: none;
  color: orange;
}

.one:hover .overlay {
  width: 100%;
  height: 100%;
  opacity: 1;
  text-align: justify;
  color: #2b2d36;
  font-size: 20px;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
}

.one-one:hover .overlay {
  width: 100%;
  height: 100%;
  opacity: 1;
  text-align: justify;
  color: #2b2d36;
  font-size: 20px;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
}

.two-two:hover .overlay-two-two {
  width: 100%;
  height: 100%;
  opacity: 1;
  text-align: justify;
  color: #1ca1f2;
  font-size: 20px;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
}

.three-three:hover .overlay-three-three {
  width: 100%;
  height: 100%;
  opacity: 1;
  text-align: justify;
  color: #5654c8;
  font-size: 20px;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
}

.two:hover .overlay,
.three:hover .overlay {
  width: 100%;
  height: 100%;
  opacity: 1;
  color: #1a6b91;
  font-size: 20px;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
}

.fig {
  position: absolute;
  top: 130px;
  left: 30px;
}

.figs {
  position: absolute;
  top: 150px;
  left: 30px;
}

.figs-html {
  position: absolute;
  top: 150px;
  left: 130px;
}

.figs-css {
  position: absolute;
  top: 140px;
  left: 150px;
}

.tag {
  margin-left: 8.5em;
}

.scan {
  margin-left: 3.7em;
  margin-top: 8em;
}

.fig-ruby {
  position: absolute;
  top: 50px;
  left: 60px;
  text-align: center;
}

.fig-html {
  position: absolute;
  top: 90px;
  left: 40px;
  margin-left: 25px;
  text-align: center;
}

.footer-content {
  color: white;
}

footer {
  height: 120px;
  background-color: #2b2d36;
}

@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }

  div.particle-js {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    position: relative;
  }

  div.name {
    font-size: 15px;
    position: absolute;
    left: 200px;
    top: 250px;
  }

  div.name h3,
  div.name h1 {
    font-size: 20px;
  }

  div.name h1 {
    line-height: 3em;
  }

  div.icon-items {
    font-size: 25px;
  }

  div.p-about {
    padding-bottom: 20px;
    font-size: 18px;
  }

  div.about-contents {
    width: 100%;
    margin-right: auto;
    padding: 0;
  }

  div.about-me {
    width: 100%;
    text-align: center;
    margin-left: 50px;
  }

  img.img {
    margin-left: 100px;
  }

  div.percentile {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    padding-left: 30px;
  }

  div.projects {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  div.p-all {
    margin-bottom: 30px;
  }

  div.icons {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 50px;
  }
}

@media (min-width: 768px)  and (max-width: 1439px) {
  div.particle-js {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    position: relative;
  }

  div.name {
    font-size: 15px;
    position: absolute;
    left: 200px;
    top: 300px;
  }

  div.about-contents {
    padding-left: 100px;
  }

  div.projects {
    display: flex;
    flex-flow: row;
  }

  div.p-all {
    margin-right: 5px;
    margin-left: 5px;
  }

  h2.h-all {
    margin-left: 50px;
  }

  h2.fig-html {
    margin-left: 0;
  }

  .figs-html {
    position: absolute;
    top: 160px;
    left: 110px;
  }

  .figs-css {
    position: absolute;
    top: 170px;
    left: 130px;
  }
}
